@model Flex.Products.dll.Models.ViewModel.ProductCategoryEditVM

@{
    ViewBag.Title = "EditProductCategory";
    var salesCategory = ViewBag.SalesCategoryId as SelectList;
}

<h2>編輯商品分類</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3 d-none">
            @Html.LabelFor(model => model.ProductCategoryId, htmlAttributes: new { @class = "form-label" })

                @Html.EditorFor(model => model.ProductCategoryId, new { htmlAttributes = new { @class = "form-control bg-secondary", @readonly = "readonly" } })
                @Html.ValidationMessageFor(model => model.ProductCategoryId, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.fk_SalesCategoryId, htmlAttributes: new { @class = "form-label" })

                @Html.DropDownListFor(model => model.fk_SalesCategoryId,salesCategory,new { @class = "form-select",id= "fk_SalesCategoryId" })
                @Html.ValidationMessageFor(model => model.fk_SalesCategoryId, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.ProductCategoryName, htmlAttributes: new { @class = "form-label" })

                @Html.EditorFor(model => model.ProductCategoryName, new { htmlAttributes = new { @class = "form-control",id= "ProductCategoryName" } })
                @Html.ValidationMessageFor(model => model.ProductCategoryName, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.CategoryPath, htmlAttributes: new { @class = "form-label" })

                @Html.EditorFor(model => model.CategoryPath, new { htmlAttributes = new { @class = "form-control bg-secondary", @readonly= "readonly", id= "CategoryPath" } })
                @Html.ValidationMessageFor(model => model.CategoryPath, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            <input type="submit" value="編輯" class="btn btn-primary" />
            <input type="button" value="返回" class="btn btn-primary" onclick='location.href="@Url.Action("ProductCategoryIndex")"' />
        </div>
    </div>
}

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var productCategoryName = document.querySelector("#ProductCategoryName");
            var salesCategorySelect = document.querySelector("#fk_SalesCategoryId");
            var categoryPath = document.querySelector("#CategoryPath");

            productCategoryName.addEventListener('input', updateCategoryPath);
            salesCategorySelect.addEventListener('change', updateCategoryPath);

            function updateCategoryPath() {
                var salesCategory = salesCategorySelect.options[salesCategorySelect.selectedIndex].text;
                var productCategory = productCategoryName.value;
                categoryPath.value = salesCategory + '/' + productCategory;;
            }

            updateCategoryPath();

        })
    </script>
    @Scripts.Render("~/bundles/jqueryval")
}
