@model Flex.Products.dll.Models.ViewModel.ProductCreateVM

@{
    ViewBag.Title = "新增商品";
}

<h2>新增商品</h2>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
<div class="row">
    <hr />
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="mb-3">
        @Html.LabelFor(model => model.ProductId, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.ProductId, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductId, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.ProductName, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.ProductName, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductName, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 col-lg-12">
        @Html.LabelFor(model => model.fk_ProductSubCategoryId, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.fk_ProductSubCategoryId, new { htmlAttributes = new { @class = "form-select" } })
        @Html.ValidationMessageFor(model => model.fk_ProductSubCategoryId, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.ProductDescription, htmlAttributes: new { @class = "form-label col-md-12" })
        @Html.TextAreaFor(model => model.ProductDescription, new { @class = "form-control", rows = "5" })
        @Html.ValidationMessageFor(model => model.ProductDescription, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 col-lg-3">
        @Html.LabelFor(model => model.ProductMaterial, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.ProductMaterial, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductMaterial, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 col-lg-9">
        @Html.LabelFor(model => model.ProductOrigin, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.ProductOrigin, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.ProductOrigin, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 col-lg-3">
        @Html.LabelFor(model => model.UnitPrice, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.UnitPrice, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.UnitPrice, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 col-lg-9">
        @Html.LabelFor(model => model.SalesPrice, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.SalesPrice, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.SalesPrice, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 col-lg-3">
        @Html.LabelFor(model => model.StartTime, htmlAttributes: new { @class = "form-label" })
        @Html.TextBoxFor(model => model.StartTime, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
        @Html.ValidationMessageFor(model => model.StartTime, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3 col-lg-9">
        @Html.LabelFor(model => model.EndTime, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.EndTime, "{0:yyyy-MM-dd}", new { htmlAttributes = new { @class = "form-control", type = "date" } })
        @Html.ValidationMessageFor(model => model.EndTime, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Tag, htmlAttributes: new { @class = "form-label" })
        @Html.EditorFor(model => model.Tag, new { htmlAttributes = new { @class = "form-control" } })
        @Html.ValidationMessageFor(model => model.Tag, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        <input type="submit" value="新增" class="btn btn-primary" />
    </div>
</div>
}

@*<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
