@model Discount.dll.Models.ViewModels.ProjectTagEditNameVM

@{
    ViewBag.Title = "CreateOrEdit";
}

<div class="d-flex justify-content-between align-items-end">
    <h2>專案標籤管理</h2>
    @Html.ActionLink("回標籤首頁", "Index")
</div>



@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="mt-4 mb-3 row">
        @Html.LabelFor(model => model.ProjectTagName, htmlAttributes: new { @class = "form-label text-secondary small " })
            <div class="col-3 d-flex align-items-center position-relative">
                <input type="text" class="form-control d-create" id="ProjectTagName" name="ProjectTagName" value="@Model.ProjectTagName" />
                <span id="tag-name" class="fs-3 me-auto d-detail" data-id="@Model.ProjectTagId">@Model.ProjectTagName</span>
                <button type="button" id="drop-toggle" class="py-2 px-3 bg-opacity-10 border-0 d-detail"><i class="bi bi-caret-down-fill"></i></button>
                <ul id="drop-menu" class="bg-white position-absolute top-100 w-100 fs-5"></ul>
            </div>
            <div class="col d-flex align-items-center">
                <button type="button" id="edit" class="btn btn-sm btn-success me-2 d-detail">編輯</button>
                <button type="button" id="create" class="btn btn-sm btn-primary me-2 d-detail">新增</button>
                <button type="button" id="save" class="btn btn-sm btn-success me-2 d-create">保存</button>
                <button type="button" id="cancel" class="btn btn-sm btn-danger me-2 d-create">取消</button>
                <ul id="drop-menu" class="bg-white position-absolute top-100 w-100 fs-5"></ul>
            </div>
        @Html.ValidationMessageFor(model => model.ProjectTagName, "", new { @class = "text-danger" })
    </div>
}



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>
        $(function () {
            const TagNameInput = $("#ProjectTagName");
            const TagName = $("#tag-name");
            createModeToggle();

            $("#create").on("click", function () {
                TagName.data("id", 0);
                TagNameInput.val("");
                createModeToggle();
            });

            $("#cancel").on("click", function () {
                $.ajax({
                    url: "/ProjectTag/GetEditData",
                    type: "POST",
                    data: {
                        id: TagName.data("id")
                    }
                }).done(data => {
                    TagName.data("id", data.ProjectTagId);
                    TagNameInput.val(data.ProjectTagName);
                    TagName.text(data.ProjectTagName);
                    createModeToggle();
                }).fail(err => {
                    console.log(err.statusText);
                });
            });

            function createModeToggle() {
                if (TagName.data("id") == 0) {
                    $(".d-detail").each(function () {
                        $(this).addClass("d-none");
                    });
                    $(".d-create").each(function () {
                        $(this).removeClass("d-none");
                    });
                }
                else {
                    $(".d-detail").each(function () {
                        $(this).removeClass("d-none");
                    });
                    $(".d-create").each(function () {
                        $(this).addClass("d-none");
                    });
                }
            }
        })
    </script>
}
