@model EFModels.EFModels.Supplier

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Supplier</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SupplierCompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierCompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HasCertificate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HasCertificate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Supply_Material)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Supply_Material)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierCompanyPhone)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierCompanyPhone)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierCompanyEmail)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierCompanyEmail)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierCompanyAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierCompanyAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierCompanyNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierCompanyNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SupplierStartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SupplierStartDate)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
