@model Members.dll.Models.ViewsModels.Staff.ForgetPasswordVM

@{
    ViewBag.Title = "ForgetPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@section Styles
{
    <style>
        #login-container {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 50vh;
            margin: 50px;
            padding: 80px;
            width: 500px; /*外框寬度*/
            height: 400px; /*外框高度*/
            /*background-color: #0B284A; */ /*外框背景*/
            border: 1px /*solid #0B284A*/;
            border-radius: 15px; /*外框圓角*/
            /*border-top: 50px solid #BB3E20;*/ /*上面顏色的高度*/
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            /*定位對齊*/
            position: relative;
            margin: auto;
            top: 100px;
            text-align: center;
        }

        body {
            /*background-color: #3C5067;*/
        }

        #useraccount, #usernewpassword, #confirmpassword, #useroldpassword {
            color: #BB3E20;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        #ForgetText {
            display: flex;
            justify-content: center;
            color: black;
            padding-bottom: 10px;
            font-size: larger;
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            font-weight: bold;
        }

        .form-control {
            background-color: #ECF1F2;
            border: none;
            box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
            opacity: 0.5; /* 設定透明度的值 */
        }

        .text {
            margin-right: 10px;
            color: #0B284A;
            font-weight: 100;
        }

        #loginImg {
            background-repeat: no-repeat;
            height: 50px;
            object-fit: contain;
            z-index: -1;
        }

        .transparent-image {
            opacity: 0.5;
        }
    </style>

}


@using (Html.BeginForm())
{

    @Html.AntiForgeryToken()
    <div id="loginImg" class="transparent-image">
        <img alt="" src="~/Public/Img/FlexLogo.png" />
    </div>
    <div id="login-container">
        <div class="row">
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div id="ForgetText">
                <h3>忘記密碼嗎?</h3>
            </div>
            <div class="mb-3" id="useraccount">
                <div class="text"><span>帳號</span></div>
                @Html.EditorFor(model => model.Account, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Account, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3" id="useroldpassword">
                <div class="text"><span>舊密碼</span></div>
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3" id="usernewpassword">
                <div class="text"><span>新設密碼</span></div>
                @Html.EditorFor(model => model.NewPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NewPassword, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3" id="confirmpassword">
                <div class="text"><span>確認密碼</span></div>
                @Html.EditorFor(model => model.ConfirmPassword, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ConfirmPassword, "", new { @class = "text-danger" })
            </div>

            <div class="mb-3">
                <input type="submit" value="確認" class="btn btn-danger" />
                <a href="@Url.Action("Login", "Staffs", new { area = "" })" class="btn btn-dark text-white">返回登入頁</a>

            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
