@model Orders.ViewModels.logistics_companiesVM

@{
    ViewBag.Title = "Edit";
}

<h2>編輯</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="mb-3">
            @Html.LabelFor(model => model.name, htmlAttributes: new { @class = "form-label" })

                @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.tel, htmlAttributes: new { @class = "form-label" })

                @Html.EditorFor(model => model.tel, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.tel, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.logistics_description, htmlAttributes: new { @class = "form-label" })

                @Html.EditorFor(model => model.logistics_description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.logistics_description, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
                <input type="submit" value="儲存" class="btn btn-primary" />
        </div>
    </div>
}
<div  class="btn btn-primary text-bg-light">
    @Html.ActionLink("取消編輯", "Logistics_companiesIndex")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
