@model Members.dll.Models.ViewsModels.MemberEditVM

@{
    ViewBag.Title = "Edit";
}

<h2>編輯會員資訊</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="mb-3">
            @Html.LabelFor(model => model.MemberId, htmlAttributes: new { @class = "form-label" })

            @Html.EditorFor(model => model.MemberId, new { htmlAttributes = new { @class = "form-control disabled-select", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.MemberId, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "form-label" })

            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control disabled-select", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Gender, htmlAttributes: new { @class = "form-label" })

            @Html.EditorFor(model => model.GenderStr, new { htmlAttributes = new { @class = "form-control disabled-select", @readonly = "readonly" } })
            @Html.HiddenFor(model => model.Gender, new { htmlAttributes = new { @class = "form-control disabled-select", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.GenderStr, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Mobile, htmlAttributes: new { @class = "form-label" })

            @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control disabled-select", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "form-label" })

            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control disabled-select", @readonly = "readonly" } })
            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "form-label" })
            <input type="text" class="form-control" name="Birthday" id="Birthday" value="@(Model.Birthday.HasValue?Model.Birthday.Value.ToString("yyyy'/'MM'/'dd"):string.Empty)" readonly>
            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.fk_LevelId, htmlAttributes: new { @class = "form-label" })

            @Html.DropDownList("fk_LevelId", ViewBag.fk_LevelId as IEnumerable<SelectListItem>, "請選擇", new { @class = "form-select" })
            @Html.ValidationMessageFor(model => model.fk_LevelId, "", new { @class = "text-danger" })
        </div>

        <div class="mb-3">
            @Html.LabelFor(model => model.fk_BlackListId, htmlAttributes: new { @class = "form-label" })
            @Html.DropDownList("fk_BlackListId", ViewBag.fk_BlackListId as IEnumerable<SelectListItem>, "請選擇", new { @class = "form-select" })

            @Html.ValidationMessageFor(model => model.fk_BlackListId, "", new { @class = "text-danger" })
        </div>
        @*<div>
            <button type="button" class="btn btn-success" onclick="blackLists()">編輯黑名單</button>
            <div id="result"></div>
        </div>*@

        <div class="mb-3">
            <input type="submit" value="提交" class="btn btn-danger" onclick="confirmSubmit()" />
        </div>
    </div>
}

<div>
    @Html.ActionLink("返回會員總覽", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    @*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>*@

    <script>
        function confirmSubmit() {
            if (confirm("確定要編輯會員資料嗎?")) {
                $('form').submit(); // 提交表单
            }
        }

        $(document).ready(function () {
            $("#editButton").click(function () {
                $.ajax({
                    url: '/Controller/Action', // 替換成你的Controller和Action的路由
                    type: 'GET',
                    success: function (result) {
                        $("#editDialog").html(result);
                        $("#editDialog").dialog({
                            modal: true,
                            width: 400,
                            height: 300
                            // 可以設置其他對話框的選項
                        });
                    }
                });
            });
        });

        //var bassAddress = "https://localhost:44349/";
        //function blackLists() {
        //    //alert("blackLists")
        //    $.ajax({
        //        type: "POST",
        //        url: `${bassAddress}/Member/EditBlack`,
        //        data: {}
        //    }).done(data => {
        //        //alert(data);
        //        $("#result").html(data)
        //    }).fail(err => {
        //        alert(err.statusText)
        //    });
        //}

    </script>
}
